#header {
		background-color: #CC0;
		}
	.row {
		text-align:center;
		}
	#score, #chances {
		font-size:150%;
		}
	#add {
    background-color: #808080;
		font-size: 200%;
		font-weight: bold;
		color: #0F0;
		}
	#sub {
    background-color: #808080;
		font-size: 200%;
		font-weight: bold;
		color: #F00;
		}
	#mul {
    background-color: #808080;
		font-size: 200%;
		font-weight: bold;
		color: #06C;
		}
	#div {
    background-color: #808080;
		font-size: 200%;
		font-weight: bold;
		color: #F60;
		}
  #play {
    color: #0C0;
  }
	#return {
		font-weight: bold;
		}
	#question {
	font-size:450%;
	color: #000;
	}
	@media all and (max-width: 480px) {
	#score {
		font-size: 100%;
		}
	#question {
		font-size:200%;
		color: #000;
	}
	#add {
		font-size: 100%;
		}
	#sub {
		font-size: 100%;
		}
	#mul {
		font-size: 100%;
		}
	#div {
		font-size: 100%;
		}
   }
