<% if words.any? %>
  <table class="table table-hover">
    <tr>
      <th>Word</th>
      <th>Meaning</th>
    </tr>
    <%= render words %>
  </table>
  <div class="text-center">
    <%= will_paginate %>
  </div>
<% else %>
  <p>No word found</p>
<% end %>
