<p>
  <% if current_user.is_user? activity.user %>
    You
  <% else %>
    <%= t activity.user.name %>
  <% end %>
  <%= activity.enum_to_string %>
  <%= raw link_to_activity(activity.object) unless activity.object.nil? %>
  - at
  <%= time_ago_in_words activity.created_at %>
</p>
