<div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">LEARN</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active">
              <a href="#">ĐĂNG NHẬP</a>
            </li>
            <li>
              <a href="#">ĐĂNG KÝ</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ul class="nav nav-pills">
              <li class="active">
                <a href="#">Trang chủ</a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Bài giảng&nbsp;
                  <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <a href="#">Toán</a>
                  </li>
                  <li>
                    <a href="#">Ngữ văn</a>
                  </li>
                  <li>
                    <a href="#">Vật lí</a>
                  </li>
                  <li>
                    <a href="#">Hóa học</a>
                  </li>
                  <li>
                    <a href="#">Tiếng Anh</a>
                  </li>
                  <li>
                    <a href="#">Sinh học</a>
                  </li>
                  <li>
                    <a href="#">Lịch sử</a>
                  </li>
                  <li>
                    <a href="#">Địa lí</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Thi trực tuyến &nbsp;
                  <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <a href="#">Toán</a>
                  </li>
                  <li>
                    <a href="#">Ngữ văn</a>
                  </li>
                  <li>
                    <a href="#">Vật lí</a>
                  </li>
                  <li>
                    <a routerLink="/onlinetest">Hóa học</a>
                  </li>
                  <li>
                    <a href="#">Tiếng Anh</a>
                  </li>
                  <li>
                    <a href="#">Sinh học</a>
                  </li>
                  <li>
                    <a href="#">Lịch sử</a>
                  </li>
                  <li>
                    <a href="#">Địa lí</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Đề thi&nbsp;
                  <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <a href="#">Toán</a>
                  </li>
                  <li>
                    <a href="#">Ngữ văn</a>
                  </li>
                  <li>
                    <a href="#">Vật lí</a>
                  </li>
                  <li>
                    <a href="#">Hóa học</a>
                  </li>
                  <li>
                    <a href="#">Tiếng Anh</a>
                  </li>
                  <li>
                    <a href="#">Sinh học</a>
                  </li>
                  <li>
                    <a href="#">Lịch sử</a>
                  </li>
                  <li>
                    <a href="#">Địa lí</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>

    <router-outlet>

    </router-outlet>

    <footer class="section section-primary">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h2>Liên hệ</h2>
            <p>Điện thoại: 0123456789
              <br>Email: abc@gmail.com
              <br>Địa chỉ: 144 Xuân Thủy, Cầu Giấy, Hà Nội</p>
          </div>
          <div class="col-sm-6 text-right">
            <p class="text-info text-right"></p>
            <h2>Kết nối</h2>
            <div class="row">
              <div class="col-md-12 hidden-lg hidden-md hidden-sm text-left">
                <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-13 hidden-xs">
                <a href="#"><i class="fa fa-2x fa-fw fa-instagram text-inverse"></i></a>
                <a href="#"><i class="fa fa-2x fa-fw fa-twitter text-inverse"></i></a>
                <a href="#"><i class="fa fa-2x fa-facebook fa-fw text-inverse"></i></a>
                <a href="#"><i class="fa fa-2x fa-fw fa-github text-inverse"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

