<div id="carousel-example" data-interval="false" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active">
          <img src="https://i.ytimg.com/vi/mkTYE_24TOE/maxresdefault.jpg">
          <div class="carousel-caption">
            <h1>CHÀO MỪNG ĐẾN VỚI LEARN!</h1>
            <p>Một trang web giúp các bạn ôn thi đại học một các dễ dàng nhất và hoàn
              toàn miễn phí</p>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#carousel-example" data-slide="prev"><i class="icon-prev  fa fa-angle-left"></i></a>
      <a class="right carousel-control" href="#carousel-example" data-slide="next"><i class="icon-next fa fa-angle-right"></i></a>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">Tại sao chọn LEARN?</h1>
            <p class="text-center"></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <img src="https://image.flaticon.com/icons/svg/149/149074.svg" class="img-circle img-responsive">
          </div>
          <div class="col-md-4">
            <h3 class="text-left">Những giáo viên hàng đầu</h3>
            <p class="text-left">Các bạn sẽ được học những giáo viên hàng đầu cả nước về dạy trực tuyến
              như: thầy Vũ Khắc Ngọc (Hóa học), Lê Bá Trần Phương (Toán),...</p>
          </div>
          <div class="col-md-2">
            <img src="https://image.flaticon.com/icons/svg/148/148992.svg" class="img-circle img-responsive">
          </div>
          <div class="col-md-4">
            <h3 class="text-left">Kho tài liệu phong phú</h3>
            <p class="text-left">Bạn có quyền truy cập vào kho sách tham khảo và bộ đề thi có đáp án được
              sưu tầm từ nhiều nguồn đảm bảo chất lượng.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <img src="https://image.flaticon.com/icons/svg/148/148855.svg" class="img-circle img-responsive">
          </div>
          <div class="col-md-4">
            <h3 class="text-left">Tiết kiệm thời gian</h3>
            <p class="text-left">Thời lượng các bài giảng videos hợp lý, có thể truy cập và tải tài liệu
              một cách nhanh chóng và dễ dàng, các bạn không cần phải đến những lớp học
              thêm offline hoặc đến các thư viện.</p>
          </div>
          <div class="col-md-2">
            <img src="https://image.flaticon.com/icons/svg/148/148836.svg" class="img-circle img-responsive">
          </div>
          <div class="col-md-4 text-center">
            <h3 class="text-left">Miễn phí</h3>
            <p class="text-left">Tuyệt vời ông mặt trời, tất cả mọi thứ trên website đều miễn phí!</p>
          </div>
        </div>
      </div>
    </div>

  