body {
            padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */}

        .portfolio-item {
            margin-bottom: 25px;
        }

        footer {
            margin: 50px 0;
        }
        .navbar-default {
    background-color: rgba(0, 0, 0, 0.8);
    border-color: #FFF;
}

.navbar-default .navbar-brand {
    color: #FFF;
}

.navbar-default .navbar-brand:hover {
    color: #FFB800;
}

.navbar-default .navbar-nav > .active > a {
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar-default .navbar-nav > li > a {
    color: #999;
}

.dropdown-menu > li > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #FFF;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7;
}

.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.8);
}

.dropdown-menu > li > a:hover {
    color: #555!important;
}

@media (max-width:768px){
    .navbar-default .navbar-nav .open .dropdown-menu> li > a:hover,
    .dropdown-menu > li > a:hover {
        color: #FFF!important;
    }
}