<router-outlet></router-outlet>
<br><br><br><br><br>
<div class="container">
    <div class="row" > <!--footer-->
        <div class="col-lg-1 col-sm-2  col-xs-4 text-center"><a routerLink="#">ABOUT US</a></div>
        <div class="col-lg-1 col-sm-2 col-xs-4 text-center"><a routerLink="#">TERM</a></div>
        <div class="col-md-1 col-sm-2 col-xs-4 text-center"><a routerLink="#">SUPPORT</a></div>
        <div class="col-md-1 col-sm-2 col-xs-4 text-center"><a routerLink="#">BLOG</a></div>
        <div class="col-md-1 col-sm-2 col-xs-4 text-center"><a routerLink="#">PRESS</a></div>
        <div class="col-md-1 col-sm-2 col-xs-4 text-center"><a routerLink="#">API</a></div>
        <div class="col-md-1 col-sm-2 col-xs-4 text-center"><a routerLink="#">JOBS</a></div>
        <div class="col-md-1 col-sm-2  col-xs-4 text-center"><a routerLink="#">PRIVACY</a></div>
        <div class="col-md-1 col-sm-2 col-xs-4 text-center"><a routerLink="#">DIRECTORY</a></div>
        <div class="col-md-1 col-sm-2 col-xs-4 text-center"><a routerLink="#">LANGUAGE</a></div>	
        <div class="col-md-2 col-sm-2 col-xs-4 text-center">
                            &copy K59GROUP
        </div>
    </div>
</div>