<!-- navbar -->
			<div class="row" style="border-bottom: 1px solid grey ">
			  <div class="text-center">
			  	<div class="col-md-1 col-xs-1"></div>
				<div class="col-md-2 col-xs-2">
				<a routerLink=""><span class="glyphicon glyphicon-home" style="font-size: 25px"></span></a>
				</div>
				<div class="col-md-2  col-xs-2">
						<a routerLink="/searching-and-explore"><span class="glyphicon glyphicon-search " style="font-size: 25px"></span></a>
				</div>
				<div class="col-md-2  col-xs-2">
					<a routerLink="/post"><span class="glyphicon glyphicon-camera" style="font-size: 25px"></span></a>
				</div>
				<div class="col-md-2  col-xs-2">
						<a routerLink=#><span class="glyphicon glyphicon-heart" style="font-size: 25px"></span></a>
				</div>
				<div class="col-md-2  col-xs-2">
						<a routerLink="/profile"><span class="glyphicon glyphicon-user" style="font-size: 25px"></span></a>
				</div>
				 <div class="col-md-1 col-xs-1"></div>
				</div>
			 </div>
<!-- /navbar -->
<div class="container">
		<div class="row" style="border: 1px solid black">
				<div class="col-md-8">
					<img src="https://scontent.fhan4-1.fna.fbcdn.net/v/t1.0-9/16681600_1278938468867336_6694175607744913231_n.jpg?oh=aa9b08d3805aaa73c3dbe823ba5d814c&oe=59673185" class="img-responsive">
					<br>
					<div>
						 <input type="file" class="text-center center-block well well-sm">
					</div>
				</div>
				<div class="col-md-4">
					<br><br><br>
					<p class="text-center"> <i>write your post here </i> </p>
					<input type="" name="" >
					<br>
					<button class="btn">POST</button> 
				</div>
		</div>
</div>