
<div class="container">
    <!-- Page Content -->
    <content>
        <div class="container">
            <h3 class="text-center"> Kết quả bài thi</h3>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th colspan="" rowspan="" headers="" scope=""><p class="text-center">Điểm</p></th>
                            <th colspan="" rowspan="" headers="" scope=""><p class="text-center">Xem đáp án và lời giải</p></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <h1 class="text-center">0.00</h1>
                                <h4 class="text-center">Số đáp án đúng: 0/50</h4>
                                <h4 class="text-center">Tổng thời gian làm bài: 30:00:00</h4>
                            </td>
                            <td>
                                <h4 class="text-center">Nếu chưa hài lòng với kết quả, Bạn nên cố gắng tự kiểm tra lại bài làm trước khi xem đáp án hoặc lời giải!</h4>
                                <button type="button" class="btn btn-primary col-md-4">Xem đáp án</button>
                                <button type="button" class="btn btn-primary col-md-4">Làm lại bài thi</button>    
                                <button type="button" class="btn btn-primary col-md-4">Chia sẻ</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button type="button" class="btn btn-success col-xs-3 well-sm col-md-offset-4">Kết thúc</button>
        </div>
    </content>
</div>
